.pseudofooter__link{
    display: block;
    text-align: center;
    padding-bottom: 50px;
    &:link{
        color: inherit;
    }
    p{
        font-size: 18px;
        margin-bottom: 15px;
    }
    img{
        transform: rotate(90deg);
    }
}