<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SearchStaff</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
      <div class="header__wrapper">
        <div class="header header__colored">
          <img
            src="./img/imagemutted.svg"
            alt="imagemutted"
            class="header__item"
          />
          <nav class="header__item">
            <a href="#" class="logo">SearchStaff</a>
          </nav>
          <button class="header__signup header__item">вход</button>
        </div>
      </div>
    </header>

    <section>
      <div class="wrapper">
        <div class="company">
          <div class="company__info">
            <div class="company__info-image">
              <img src="./img/personWithoutPhoto.svg" alt="company-image" />
            </div>
            <div class="company__info-text">
              <div class="company__info-text_desc">
                <h2>Югорский НИИ информационных технологий</h2>
                <div class="company__info-text_desc-contacts">
                  <p>5.0</p>
                  <p>+7 999 999 99 99</p>
                  <p>qwerty@mail.ru</p>
                </div>
              </div>
              <div class="company__info-text_edits">
                <a href="#">
                  <img src="./img/edits.svg" alt="edits" />
                  Редактировать
                </a>
              </div>
            </div>
          </div>
          <div class="company__description">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
              quasi excepturi alias ab cumque, ratione exercitationem fugit
              impedit totam iure a neque nulla aliquid molestiae amet minus sit,
              incidunt unde. Pariatur totam consequuntur consequatur voluptates
              ducimus, similique hic? Recusandae perferendis iste, sed numquam
              perspiciatis sequi ratione nobis aliquid dolor voluptates vel
              distinctio laborum excepturi facilis harum quaerat architecto ad
              quos! Repudiandae, nihil. Voluptas eius odit, veniam reprehenderit
              voluptate quod ad iusto, cumque vitae magni ab ipsam ex,
              consequuntur nemo esse ut quisquam non labore sapiente quidem
              deserunt voluptatibus est. Sit. Quisquam accusamus unde quaerat
              optio cupiditate sunt, natus ea fugit esse at culpa ad recusandae
              molestias aliquid perspiciatis eos, aut ut veritatis laboriosam.
              Vitae id mollitia aliquam itaque libero esse? Corporis, aperiam.
              At neque impedit, optio similique aut ratione sequi quisquam ipsam
              nemo earum ad, quia numquam non autem consequatur officia eligendi
              soluta doloremque asperiores expedita officiis aperiam.
              Aspernatur, iusto. Omnis autem dolores pariatur ipsum. Delectus
              reiciendis iste dolores, reprehenderit illum maxime incidunt sit
              fuga itaque, vitae nisi magni explicabo, pariatur repudiandae
              deleniti dolor doloremque error esse quasi maiores dignissimos.
              Similique unde quam aut esse eveniet quo, ratione explicabo illo
              ut quaerat, exercitationem architecto quibusdam quos beatae minus
              expedita blanditiis. Sit, mollitia dolores! Incidunt aperiam fuga
              mollitia. Consequuntur, quos accusantium. Odit consectetur ipsa
              adipisci debitis dignissimos optio omnis voluptate expedita sit,
              iure fuga pariatur odio assumenda qui facere, cupiditate minima
              quas alias esse. Laborum esse odio repudiandae delectus nesciunt
              quod! Modi quos impedit odit sunt perspiciatis odio harum eum,
              laudantium fuga corporis. Repellendus distinctio ipsa dicta,
              corrupti tenetur necessitatibus sit sunt, nihil ab ea adipisci.
              Magni quod similique quo repudiandae! Corrupti consequatur in ea,
              veritatis totam ex, adipisci tempora facilis ipsam illo
              necessitatibus voluptas facere cupiditate natus ipsa quae vitae
              laudantium quo. Nam praesentium accusantium totam, sunt saepe iure
              asperiores.
            </p>
          </div>
          <div class="company__portfolio">
            <h3>портфолио:</h3>
            <div class="company__portfolio-items">
              <div class="company__portfolio-items__item">
                <a href="#">
                  <img src="./img/mutedportfolio.svg" alt="mutedportfolio" />
                  <p>название проекта</p>
                </a>
              </div>
              <div class="company__portfolio-items__item">
                <a href="#">
                  <img src="./img/mutedportfolio.svg" alt="mutedportfolio" />
                  <p>название проекта</p>
                </a>
              </div>
              <div class="company__portfolio-items__item">
                <a href="#">
                  <img src="./img/mutedportfolio.svg" alt="mutedportfolio" />
                  <p>название проекта</p>
                </a>
              </div>
              <div class="company__portfolio-items__item">
                <a href="#">
                  <img src="./img/mutedportfolio.svg" alt="mutedportfolio" />
                  <p>название проекта</p>
                </a>
              </div>
              <div class="company__portfolio-items__item">
                <a href="#">
                  <img src="./img/mutedportfolio.svg" alt="mutedportfolio" />
                  <p>название проекта</p>
                </a>
              </div>
              <div class="company__portfolio-items__item">
                <a href="#">
                  <img src="./img/mutedportfolio.svg" alt="mutedportfolio" />
                  <p>название проекта</p>
                </a>
              </div>
              <div class="company__portfolio-items__item">
                <a href="#">
                  <img src="./img/mutedportfolio.svg" alt="mutedportfolio" />
                  <p>название проекта</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="wrapper">
        <div class="topEmployees">
          <h3>сотрудники:</h3>
          <div class="topEmployees__items">
            <div class="topEmployees__items-item">
              <img
                src="./img/personWithoutPhoto.svg"
                alt="personWithoutPhoto"
              />
              <div class="topEmployees__items-item__text">
                <p class="topEmployees__items-item__text-fio">
                  Иванов Иван Иванович
                </p>
                <p class="topEmployees__items-item__text-stars">5.0</p>
                <p class="topEmployees__items-item__text-profession">
                  web-дизайнер
                </p>
                <p class="topEmployees__items-item__text-company">
                  <a href="#">Крутая компания</a>
                </p>
                <div class="topEmployees__items-item__text-contacts">
                  <p>+7(999)123-56-78</p>
                  <p>qwerty@mail.ru</p>
                </div>
              </div>
            </div>
            <div class="topEmployees__items-item">
              <img
                src="./img/personWithoutPhoto.svg"
                alt="personWithoutPhoto"
              />
              <div class="topEmployees__items-item__text">
                <p class="topEmployees__items-item__text-fio">
                  Иванов Иван Иванович
                </p>
                <p class="topEmployees__items-item__text-stars">5.0</p>
                <p class="topEmployees__items-item__text-profession">
                  web-дизайнер
                </p>
                <p class="topEmployees__items-item__text-company">
                  <a href="#">Крутая компания</a>
                </p>
                <div class="topEmployees__items-item__text-contacts">
                  <p>+7(999)123-56-78</p>
                  <p>qwerty@mail.ru</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
