// Fonts
$font-main: "Montserrat Alternates", 'Roboto', sans-serif;
// $font-title: "Montserrat Alternates", 'Roboto' sans-serif;

// Colors
$light: #98E7EC;
$pink: #FF00E2;
$gray: #D9D9D9;
$blue: #CCF6FF;
// $button: #007BA3;
$white: #fff;
// $muted: #e7e7e7;

// Media
$tablet: 976px;